<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="FolderToWatch" value="D:\Console\FolderToWatch"/>
    <add key="OutputFileFolder" value="D:\Console\FolderToWatch"/>
    <add key="FileNameToProcess" value="GenerationReport.xml"/>
    <add key="ReferenceDataFileFullName" value="D:\Console\ReferenceData.xml"/>
    <add key="MaximumEmissionOutputGeneratorTypeDisplayCount" value="3"/>
  </appSettings>
</configuration>